*{
    list-style: none;
    text-decoration: none;
}

.liveplayers{
    height: 100vh;
    width: 100%;
    background-color: none;
    border-right: 2px solid var(--primary);
    border-bottom: 2px solid var(--primary);
    border-left: 1px solid var(--primary);
    overflow-y: scroll;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 4em;
}

.liveplayers::-webkit-scrollbar{
  background-color: black;
  width: 6px;
  
}

.liveplayers::-webkit-scrollbar-thumb{
    
    background-color:var(--primary);
}

.liveplayers::-webkit-scrollbar-track{
    border: no;
}

.toplive{
    height: 10%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primary);
    transform: translateY(-1%);
    position: sticky;
    top: 0%;
    right:0%
}

.streamer{
    height: 310px;
    width: 80%;
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgb(26, 25, 25);
    align-items: center;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5px;
    margin-right: 5px;
    border-bottom: 1px solid rgb(70, 70, 70);
    justify-content: center;
    padding-left: 1em;
    align-items: center;
}


.streamerinfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    margin-left: 9px;
    line-height: 1.5em;
}


.streamerinfo .videoname, .streamerinfo p{
    color: var(--primary);
}

.streamerinfo h5{
    color: var(--tertiary);
    text-transform: uppercase;
}

.streamerinfo p{
    font-size: 0.8em;
    border-right: none;
}

.streamerinfo p:hover{
    text-decoration: underline;
}

.streamer img{
    height: 150px;
    width: 90%;
    margin-left: 5px;
    border-radius: 5PX;
}

.hide{
    overflow-y: hidden;
}