.tabMenu{
    display: grid;
    height: 60px;
    width: 100%;
    background-color: rgb(17, 17, 17);
    grid-template-columns: 1fr 1fr;
}

.tabItems{
    display: flex;
    justify-content: center;
    align-items: center;
    color: var(--tertiary);
    font-weight: 600;
}

.tabItems:nth-child(1){
    border-right: 1px solid rgb(43, 43, 43);
}

.activeTab{
    color: var(--primary);
}